.signup{
    margin-top: 60px;
    text-align: center;
    padding: 0px 32px;
}

.signupHeader{
    display: flex;
    justify-content: flex-start;
    gap: 52px;
    margin-bottom: 30px;
}

.dhur{
    width: 20px;
}

/*#outlined-basic{*/
/*    width: 237.36px;*/
/*    height: 25px;*/
/*    border: 1px solid #000000;*/
/*    border-radius: 10px;*/
/*}*/


.signupTitle{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.registerBtn{
    font-family: clash display;
    margin-top: 18px;
    border: none;
    width: 250px;
    height: 46px;
    background: #F9B70B;
    border-radius: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.pword{
    padding: 0 10px;
    text-align: left;
    font-size: 10px;
    font-family: Poppins;
    font-weight: 400;
    color: #d32f2f;
}

.cluse{
    /*margin-bottom: 30px;*/
    width: 100%;
}

/*.cluse p{*/
/*    text-align: center;*/
/*}*/

.outlined{
    width: 250px;
    height: 56px;
    font-size: 15px;
}

.already{
    margin-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.loginn{
    color: #F9B70B;
}


@media (min-width: 375px){
    .signupHeader {
        display: flex;
        justify-content: flex-start;
        gap: 78px;
        margin-bottom: 30px;
    }
}


