.outlined-input-container {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outlined-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-family: Poppins;
    transition: border-color 0.3s ease;
    font-size: 18px;
    height: 29px;
}

.outlined-label {
    position: absolute;
    top: 50%;
    left: 12px;
    font-family: poppins;
    padding: 0 4px;
    background-color: white;
    color: #666;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    font-size: 17px;
}

.outlined-input-container.focused .outlined-label,
.outlined-input:focus + .outlined-label {
    top: 0;
    left: 0;
    font-size: 10px;
    transform: translate(10px, -50%);
    background-color: white;
    color: #F9B70B;
}

.outlined-input-container.focused .outlined-label,
.outlined-input-container.has-value .outlined-label {
    color: #F9B70B;
}

.outlined-input:focus,
.outlined-input-container.has-value .outlined-input {
    border-color: #F9B70B;
}

.selectgend{
    position: absolute;
    right: 11px;
    top: 7px;
}

.selectvisible{
    position: absolute;
    right: 11px;
    top: 16px;
}


@media (min-width:765px){
    .outlined-input{
        height: 40px;
    }

    .selectgend{
        position: absolute;
        right: 11px;
        top: 12px;
    }

    .outlined-input-container {
        margin-bottom: 25px;
    }

    .selectvisible{
        position: absolute;
        right: 11px;
        top: 23px;
    }
}

@media (min-width:1024px){
    .outlined-input{
        height: 50px;
    }

    .selectvisible{
        position: absolute;
        right: 18px;
        top: 27px;
    }

    .selectgend{
        position: absolute;
        right: 11px;
        top: 17px;
    }

    .outlined-input-container {
        margin-bottom: 30px;
    }
}

@media (min-width:1440px){
    .outlined-input{
        height: 50px;
    }

    .selectvisible {
        position: absolute;
        right: 26px;
        top: 27px;
    }

    /*.selectgend{*/
    /*    position: absolute;*/
    /*    right: 11px;*/
    /*    top: 7px;*/
    /*}*/

    .outlined-input-container {
        margin-bottom: 35px;
    }
}