.notiText{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}

.notiContainer{
    margin: 20px 10px;
    padding: 15px;
    width: 755px;
    background: #FFFFFF;
    border-radius: 10px;

}


.notiDate{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /*line-height: 48px;*/
    color: #000000;
    text-align: right;
}

@media (max-width: 1299px) {

    /*@media (min-width: 300px) {*/

        .margine{
            margin-bottom: 20px;
        }

        .notiContainer{
            margin-bottom: 20px;
            padding: 9px;
            width: 260px;
            background: #FFFFFF;
            border-radius: 10px;
        }

        .notiText{
            font-family: 'Clash Display';
            font-style: normal;
            font-weight: 400;
            font-size: 8px;
            line-height: 12px;
            color: #000000;
        }

        .notiDate {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 6px;
            line-height: 6px;
            color: #000000;
            margin-top: 10px;
        }
    /*}*/

    @media (min-width: 375px) {
        .notiContainer {
            margin-bottom: 20px;
            padding: 9px;
            width: 323px;
            background: #FFFFFF;
            border-radius: 10px;
        }
    }

    @media (min-width: 425px) {
        .notiContainer {
            margin-bottom: 20px;
            padding: 18px;
            width: 364px;
            background: #FFFFFF;
            border-radius: 10px;
        }

        .notiText {
            font-family: 'Clash Display';
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 16px;
            color: #000000;
        }

        .notiDate {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 6px;
            color: #000000;
            margin-top: 18px;
        }

    }

    @media (min-width: 525px){
        .notiContainer {
            margin-bottom: 20px;
            padding: 15px;
            width: 460px;
            background: #FFFFFF;
            border-radius: 10px;
        }


    }

    @media (min-width: 600px) {
        .notiContainer {
            margin-bottom: 20px;
            /*padding: 9px;*/
            width: 500px;
            background: #FFFFFF;
            border-radius: 10px;
        }


    }

    @media (min-width: 765px) {
        .notiContainer {
            margin-bottom: 20px;
            padding: 24px;
            width: 564px;
            background: #FFFFFF;
             border-radius: 15px;
        }
    }


    @media (min-width: 900px) {
        .notiText {
            font-family: 'Clash Display';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }

        .notiDate {
            /*font-family: 'Clash Display';*/
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }


    }
}
