.CoursesPageContainer{
    margin: 50px 20px 0 20px;
    display: grid;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}



.CoursesPagetitle{
    width: 84%;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 18px;
}

.CoursesPageimg{
    background-image: url("https://res.cloudinary.com/do5wu6ikf/image/upload/v1686270096/starpenzu/FE_sm_jx5zbu.svg");
    width: 276px;
    height: 137px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.CoursesPagetext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    color: #000000;
}

.margin{
    margin-top: 18px;
    margin-bottom: 4px;
}

.CoursesPagelist1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 12px;
    color: #000000;
    display: inline-flex;
}

.CoursesPagelist1 ul{
    margin-left: 20px;
}

.CoursesPagelist2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 12px;
    color: #000000;
}

.CoursesPagelist2 ul{
    margin-left: 20px;
}

.CoursesPageContent {

    height: 24px;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

}

.force{
    padding-right: 10px;
}

.ssss{
    color: white;
    height: 24px;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 5px 0;
    background: #4F0995;
}

#makewhite{
    filter: brightness(0) invert(1);
}

.CoursesPageContenttext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    padding-left: 10px;
    /*line-height: 40px;*/
}

.CoursesPageContent img{
    cursor: pointer;
    width: 12px;
    height: 12px;
    padding-right: 10px;
}

.accordionContents{
   display: block;
    /*margin: 10px;*/
}

.jjj{
    margin: 15px 0;
}

.xxxx{
    border: 1px #4F0995 solid;
    margin: 15px 0;
    border-radius: 2px;
    /*padding: 20px 0;*/
}

.accordionContentsLists {
    margin: 10px 0;
    cursor: pointer;
    list-style: none;
    padding: 0 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.accordionContentsLists img{
    width: 8px;
    height: 8px;
}

.makepayment{
    width: 100%;
}

.makepayment:hover{
    background-color: #fbcf60;
}

.makepaymentactive{
    width: 100%;
    background: #D1CACA;
}




@media (min-width: 300px){

}


