.certiContainer {
    /*gap: 20px;*/
    margin-bottom: 20px;
    padding: 15px;
    width: 650px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.firstSeg, .secSeg{
    padding-right: 25px;
}

.subtext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /*line-height: 48px;*/
    color: #F9B70B;
}

.headtext{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    /*line-height: 48px;*/
    text-transform: capitalize;
    color: #000000;
}

.thirdsegbtn{
    background: #F9B70B;
    border-radius: 5px;
    font-size: 16px;
    line-height: 39px;
    color: #FFFFFF;
    padding: 0 25px 0 25px ;
}

.thirdsegbtn2{
    background: #F9B70B;
    border-radius: 5px;
    font-size: 11px;
    line-height: 39px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    padding: 0 25px 0 25px ;
}

.thirdsegbtn3{
    background: #000000;
    border-radius: 5px;
    font-size: 11px;
    line-height: 39px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    padding: 0 25px 0 25px ;
}

.subtext3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    /*line-height: 48px;*/
    color: #959292;
}

.thirdSeg{
    cursor: pointer;
}

@media (max-width: 1299px) {

    @media (min-width: 300px) {
    .certiContainer {
        /* gap: 20px; */
        margin-bottom: 20px;
        padding: 9px;
        width: 260px;
        background: #FFFFFF;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .headtext {
        font-family: 'Clash Display';
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 10px;
        text-transform: capitalize;
        color: #000000;

    }

    .firstSeg, .secSeg {
        padding-right: 9px;
    }

    .subtext3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        margin-top: 5px;
        font-size: 8px;
        color: #959292;
    }

    .thirdsegbtn3 {
        background: #000000;
        border-radius: 5px;
        font-size: 8px;
        line-height: unset;
        width: 54px;
        color: #FFFFFF;
        letter-spacing: 0.5px;
        padding: 5px 5px 5px 5px;
    }

.thirdsegbtn2 {
    background: #F9B70B;
    border-radius: 5px;
    font-size: 8px;
    line-height: unset;
    width: 54px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    padding: 5px 5px 5px 5px;
    }

    .subtext {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        margin-top: 5px;
        color: #F9B70B;
    }
    .thirdsegbtn{
        text-align: center;
        background: #F9B70B;
        border-radius: 5px;
        font-size: 8px;
        line-height: unset;
        width: 54px;
        color: #FFFFFF;
        letter-spacing: 0.5px;
        padding: 5px 5px 5px 5px;
    }

    }

    @media (min-width: 375px) {
        .certiContainer {
            /* gap: 20px; */
            margin-bottom: 20px;
            padding: 9px;
            width: 315px;
            background: #FFFFFF;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

    }

    @media (min-width: 425px){
        .certiContainer {
            /* gap: 20px; */
            margin-bottom: 20px;
            padding: 9px;
            width: 359px;
            background: #FFFFFF;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .headtext {
            font-family: 'Clash Display';
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 10px;
            text-transform: capitalize;
            color: #000000;
        }
    }

}