@import url('https://fonts.cdnfonts.com/css/clash-display');
*{
    font-family: 'clash display', 'Montserrat';
    margin: 0;
    padding: 0;
    width: border-box;
}

body{
    background-color: red;
}

/*Nav Bar*/
.nav{
    background-color: #ffffff;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 37px;
    align-items: center;
}

.brand{
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0;
    padding-left: 32px;
}

.navLogo{
    width: 24px;
    height: 24px;
}

.lgText{
    font-size: 8px;
    font-weight: 500;
}

.harmBurger{
    padding-right: 36px;
}

.hamburgerImg{
    width: 19.5px;
    height: 11.5px;
}

.harmBurgerDropDown{
    padding-left: 38px;
    background-color: white;
    transition: background 0.5s ease-in;
}

.harmBurgerDropDown ul li{
    list-style: none;
    padding-bottom: 48px;
}

.hamBurgerActive{
    padding-top: 48px;
}