.donecompo{
    text-align: center;
    padding: 0 20px;
}

.img1{
    width: 100px;
    height: 50px;
}

.img1--margin{
    margin-bottom: 20px;
}

.img2{
    width: 100px;
    height: 50px;
}

.img2--margin{
    margin-top: 20px;
}

#mailtext{
    font-weight: 500;
    margin-top: 20px;
}
.donetext{
    color: #000;
    text-align: center;
    font-size: 18px;
    font-family: Clash Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.proceedsubtext{
    color: #000;
    text-align: center;
    font-size: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*@media (min-width: 375px){}*/

/*@media (min-width: 425px){}*/

/*@media (min-width: 560px){}*/

@media (min-width: 760px){
    .donetext{
        color: #000;
        text-align: center;
        font-size: 20px;
        font-family: Clash Display;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .proceedsubtext{
        color: #000;
        text-align: center;
        font-size: 14px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .img1 {
        width: 140px;
        height: 100px;
        flex-shrink: 0;
    }

    .img1 {
        width: 140px;
        height: 100px;
        flex-shrink: 0;
    }

    .img1--margin {
        margin-bottom: 30px;
    }

    .img2--margin {
        margin-top: 30px;
    }
}

@media (min-width: 1024px){
    .donetext{
        color: #000;
        text-align: center;
        font-size: 24px;
        font-family: Clash Display;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .proceedsubtext{
        color: #000;
        text-align: center;
        font-size: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .img1 {
        width: 160px;
        height: 110px;
        flex-shrink: 0;
    }

    .img1 {
        width: 160px;
        height: 110px;
        flex-shrink: 0;
    }

    .img1--margin {
        margin-bottom: 50px;
    }

    .img2--margin {
        margin-top: 50px;
    }
}

@media (min-width: 1280px){
    .donetext{
        color: #000;
        text-align: center;
        font-size: 24px;
        font-family: Clash Display;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .proceedsubtext{
        color: #000;
        text-align: center;
        font-size: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .img1 {
        width: 197px;
        height: 122px;
        flex-shrink: 0;
    }

    .img1 {
        width: 197px;
        height: 122px;
        flex-shrink: 0;
    }

    .img1--margin {
        margin-bottom: 77px;
    }

    .img2--margin {
        margin-top: 77px;
    }
}